//原treehtml页面
{include file="Public/header" title="树" /}
<body >

<style>
    @media only screen and (min-width: 641px) {
        .am-offcanvas {
            display: block;
            position: relative;
            background: none;
        }

        .am-offcanvas-bar {
            position: relative;
            width: auto;
            background: none;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        .am-offcanvas-bar:after {
            content: none;
        }

    }

    @media only screen and (max-width: 640px) {
        .am-offcanvas-bar .am-nav>li>a {
            color:#ccc;
            border-radius: 0;
            border-top: 1px solid rgba(0,0,0,.3);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.05)
        }

        .am-offcanvas-bar .am-nav>li>a:hover {
            background: #404040;
            color: #fff
        }

        .am-offcanvas-bar .am-nav>li.am-nav-header {
            color: #777;
            background: #404040;
            box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
            text-shadow: 0 1px 0 rgba(0,0,0,.5);
            border-top: 1px solid rgba(0,0,0,.3);
            font-weight: 400;
            font-size: 75%
        }

        .am-offcanvas-bar .am-nav>li.am-active>a {
            background: #1a1a1a;
            color: #fff;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
        }

        .am-offcanvas-bar .am-nav>li+li {
            margin-top: 0;
        }
    }

    .my-head {
        margin-top: 10px;
        text-align: center;
    }

    .my-button {
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 0;
    }
    .my-sidebar {
        right: 1300px;
        padding-right: 0;
        border-right: 1px solid #eeeeee;
    }

    .my-footer {
        border-top: 1px solid #eeeeee;
        padding: 10px 0;
        margin-top: 10px;
        text-align: center;
    }
</style>
<hr class="am-article-divider"/>
<div class="am-g am-g-fixed">
    <hr class="am-article-divider"/>

    <div class="am-u-lg-9 am-u-lg-push-3"  >
        <iframe src="../read/index.html" id="iframepage" name="iframepage" width="100%"  onLoad="iFrameHeight()" align="left"></iframe>
    </div>
    <div class="am-u-md-3 my-sidebar">
        {include file="Public/sidebar"/}
    </div>

</div>

<script>
    function iFrameHeight() {
        var ifm= document.getElementById("iframepage");
        var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
        }
    }
</script>

<footer class="my-footer">
    <p>sidebar template<br><small>© {Go:global name="site_copyright"/}</small></p>
</footer>
</body>

//原list页面
{include file="Public/header" title="树" /}
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                        <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
                        <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
                        <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
                        <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
                    </ul>
                </li>
                <li><a href="admin-table.html"><span class="am-icon-table"></span> 表格</a></li>
                <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>Verisilicon</p>
                </div>
            </div>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
            </div>
            <hr>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" onclick="window.location.href='{:U(\'admin/Testcase/add\')}'" class="am-btn am-btn-primary"><span class="am-icon-plus"></span> 新增</button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-form-group">
                        <select id="js-select" placeholder="请选择OS" data-am-selected="{btnSize: 'sm'}">
                            <option selected value=""></option>
                            <option value="option2">所有类别</option>
                            {foreach name="OS_list" item="vo" }
                            <option value={$vo}>{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="button">搜索</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main" >
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox"/></th>{foreach name="testcase_name_list" item="vo"}<th class={$vo}>{$vo}</th>{/foreach}
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name="testcase_list" item="vo" }
                            <tr>
                                <td class="table-check"><input type="checkbox"/></td>
                                {foreach name="vo" item="vosub" key="value" }
                                <td  id={$value}   title="字段详细信息"  onmouseover="mOver(this)">{$vosub}</td>

                                {/foreach}
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="edit_btn('{$vo[Case_ID]}')" ><span class="am-icon-pencil-square-o" ></span> 编辑</button>
                                            <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del_btn('{$vo[Case_ID]}')"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            {/foreach}

                            </tbody>
                        </table>
                        <div>{$page}</div>
                        <!--<div class="am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination">
                                    <li class="am-disabled"><a href="{:U('admin/Testcase/edit?Case_ID=1')}">«</a></li>
                                    <li class="am-active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <hr />
                        <p>注：.....</p>-->
                    </form>
                </div>

            </div>
        </div>


    </div>
    <!-- content end -->
</div>



//edit核心
<div class="am-g am-g-fixed">
    <header class="am-g my-head">
        <div class="am-u-sm-12 am-article">
            <h1 class="am-article-title">Case信息</h1>
            <p class="am-article-meta">查看，修改，添加</p>
        </div>
    </header>
    <hr class="am-article-divider"/>

    <div class="am-u-md-12 ">
        <form class="am-form" action="{:U('admin/Testcase/save')}" method="post" enctype="multipart/form-data">
            {foreach name="testcase_info" item="item" key="k"}
            <div class="am-form-group am-form-horizontal am-form-error am">
                <label for={$k} class="am-u-sm-2 am-form-label">{$k}</label>
                <div class="am-u-sm-10">
                    <input type="text" class="am-form-field " id={$k} placeholder="请输入" name={$k} value={$item} >
                </div>
                <br/>
            </div>
            {/foreach}

            <div  class="am-form-group-inline am-form-horizontal am-cf ">
                <div class="am-u-sm-1 am-u-sm-offset-6 ">
                    <button class="am-btn am-btn-primary am-radius" type="submit">提交</button>
                </div>
                <div class="am-fl">
                    <button class="am-btn am-btn-danger am-radius" type="reset">重置</button>
                </div>
            </div>
        </form >
    </div>
</div>


<script>

    function mOver(obj){
        if(obj.id=="OS")
        {
            $.post("{:U('admin/testcase/ossearch')}",{OS:obj.innerHTML},function(OS_list){
                var str=new Array(3);
                var i=0;
                $.each(OS_list,function(key,item){
                    str[i++]=key+" ： "+item;
                });
                obj.title=str.join("\n");
            });
        }
    }

    //编辑功能
    function edit_btn(casevalue) {

        var url=("{:U('admin/Testcase/edit?Case_ID=value')}").replace('value',casevalue);
        window.location.href=url;
    }
    //删除功能
    function del_btn(casevalue) {
        var url=("{:U('admin/Testcase/del?Case_ID=value')}").replace('value',casevalue);
        window.location.href=url;
    }

    $(function () {

        //分级下拉菜单跳转
        $("#js-select").change(function () {
            var os_selected=$(this).find('option:selected').text();
            if(os_selected=='所有类别')
            {
                window.location.href="{:U('admin/Testcase/index')}";
            }
            else
            {
                var str=("{:U('admin/Testcase/index?search_OS=os_selected')}").replace('os_selected',os_selected);
                window.location.href=str;
            }

        });

        //跳转新增页面
        $("#add_new").onclick(function () {

        });
    });
    function iFrameHeight() {
        var ifm= document.getElementById("iframepage");
        var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
        }
    }
</script>
{include file="Public/footer" /}

<div class="container" id="edit_page">
    <form class="am-form" action="{:U('admin/Testcase/save')}" method="post" enctype="multipart/form-data">
        {foreach name="testcase_name_list" item="item"}
        <div class="am-form-group am-form-horizontal am-form-error">
            <label for={$item} class="am-u-sm-2 am-form-label">{$item}</label>
            <div class="am-u-sm-10">
                <input type="text" class="am-form-field " id={$item} name={$item} placeholder="请输入" >
                <script>
                    var temp="{$new_ID}";
                    $("input[id='Case_ID']").attr({value:temp,disabled:true});
                </script>
            </div>
            <br>
        </div>
        {/foreach}
        <br>
        <div  class="am-form-group-inline am-form-horizontal am-cf ">
            <div class="am-u-sm-1 am-u-sm-offset-6 ">
                <button class="am-btn am-btn-primary am-radius" type="submit">提交</button>
            </div>
            <div class="am-fl">
                <button class="am-btn am-btn-danger am-radius" type="reset">重置</button>
            </div>
        </div>
    </form >
</div>
