<BODY>
<div class="am-cf admin-main">
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <hr>
            <div class="am-g">
                <div class="container">
                    <div class="my-head">
                        <div class="am-u-sm-12 am-article">
                            <h1 class="am-article-title">Case信息</h1>
                            <p class="am-article-meta" align="center">查看，修改，添加</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-md-3 am-u-md-offset-1">
                    <div class="container">
                        <div class="zTreeDemoBackground left">
                            <ul id="treeDemo" class="ztree" style="height: auto; border: hidden;overflow: auto;" ></ul>
                        </div>
                    </div>
                </div>

                <div class="am-u-md-6 am-u-md-pull-3">
                    <div class="container" id="edit_page">
                        <div class="am-g">
                            <div class="am-u-md-12">
                                <hr>
                                <form class="am-form" action="{:U('admin/Testcase/save')}" method="post" enctype="multipart/form-data">

                                    <!--新增Case表单-->
                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='CaseName' class="am-u-sm-2 am-form-label">CaseName</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="am-form-field " id='CaseName'  value="" >
                                        </div>
                                        <br>
                                    </div>
                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='Priority' class="am-u-sm-2 am-form-label">Priority</label>
                                        <div class="am-u-sm-8">
                                            <select data-am-selected id="Priority" placeholder="Please Select">
                                                <option value=""></option>
                                                <option value="a">1</option>
                                                <option value="b">2</option>
                                                <option value="o">3</option>
                                                <option value="m">4</option>
                                                <option value="d" disabled>5</option>
                                            </select>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='Automated' class="am-u-sm-2 am-form-label">Automated</label>
                                        <div class="am-u-sm-8" id="Automated">
                                            <select data-am-selected>
                                                <option value="a" selected>Yes</option>
                                                <option value="b">No</option>
                                            </select>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='Exception' class="am-u-sm-2 am-form-label">Exception</label>
                                        <div class="am-u-sm-8" id="Exception">
                                            <div class="am-dropdown" data-am-dropdown>
                                                <button class="am-btn am-dropdown-toggle" data-am-dropdown-toggle>Exception option <span class="am-icon-caret-down"></span></button>
                                                <div class="am-dropdown-content" >
                                                    <table style="width: 600px">
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='ScripLocation' class="am-u-sm-2 am-form-label">ScripLocation</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="am-form-field " id='ScripLocation'  value="" >
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='Enviroment' class="am-u-sm-2 am-form-label">Enviroment</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="am-form-field " id='Enviroment'  value="" >
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='ExpectedResults' class="am-u-sm-2 am-form-label">ExpectedResults</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="am-form-field " id='ExpectedResults'  value="" >
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='From' class="am-u-sm-2 am-form-label">From</label>
                                        <div class="am-u-sm-8" id="From">
                                            <select data-am-selected placeholder="Choose From">
                                                <option value=""></option>
                                                <option value="a">Internal</option>
                                                <option value="b">Banchmark</option>
                                                <option value="a">Customer Case</option>
                                                <option value="a">Customer Issue</option>
                                            </select>
                                            <select data-am-selected placeholder="Choose Customer">
                                                <option value=""></option>
                                                <option value="a">Marvell</option>
                                                <option value="b">FSL</option>
                                            </select>
                                        </div>
                                        <br>
                                    </div>


                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='BugID' class="am-u-sm-2 am-form-label">BugID</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="am-form-field " id='BugID'  value="" >
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='OS' class="am-u-sm-2 am-form-label">Board</label>
                                        <div class="am-u-sm-8" id="OS">
                                            <div class="am-dropdown" data-am-dropdown>
                                                <button class="am-btn  am-dropdown-toggle" data-am-dropdown-toggle>OS option <span class="am-icon-caret-down"></span></button>
                                                <div class="am-dropdown-content" >
                                                    <table style="width: 600px">
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='Version' class="am-u-sm-2 am-form-label">Version</label>
                                        <div class="am-u-sm-8" id="Version">
                                            <div class="am-dropdown" data-am-dropdown>
                                                <button class="am-btn am-dropdown-toggle" data-am-dropdown-toggle>Version option <span class="am-icon-caret-down"></span></button>
                                                <div class="am-dropdown-content" >
                                                    <table style="width: 600px">
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-form-group am-form-horizontal am-form-error">
                                        <label for='Board' class="am-u-sm-2 am-form-label">Board</label>
                                        <div class="am-u-sm-8" id="Board">
                                            <div class="am-dropdown" data-am-dropdown>
                                                <button class="am-btn am-dropdown-toggle" data-am-dropdown-toggle>Board option <span class="am-icon-caret-down"></span></button>
                                                <div class="am-dropdown-content" >
                                                    <table style="width: 600px">
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>Linux</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >WinCE</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck >LoLipop</label></td>
                                                            <td><label class="am-checkbox"><input type="checkbox" value="{$vs['id']}" data-am-ucheck checked>KitKat</label></td>
                                                        </tr>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="am-btn-group  am-u-md-offset-5 ">
                                        <button class="am-btn am-btn-primary am-radius" type="submit">提交</button>
                                        <button class="am-btn am-btn-danger am-radius" type="reset">重置</button>
                                    </div>
                                </form >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->

</div>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="ASSETS/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="ASSETS/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="ASSETS/js/amazeui.min.js"></script>
<script src="ASSETS/js/app.js"></script>


<script>
    $("button[type='reset']").click(function () {
        $("input").attr({value:""});
    });
</script>

</BODY>