{include file="public/header" title="高级搜索"/}
    
    
    <!-- start page -->
    <div class="page">
    
    		
            <div class="simplebox">
            	<h1 class="titleh">高级搜索</h1>
                <div class="content">
                	
                  <form name="form1" method="post" action="{:U('Home/Search/all')}">
                  		
                    <div class="form-line">
                   	  <label class="st-label">商品名称</label>
                      <input type="text" name="title" value="{$title}"  style=" width:90%;" />
                    </div>
                  		
                    <div class="form-line">
                   	  <label class="st-label">零件号</label>
                      <input type="text" name="PNO" value="{$PNO}" style=" width:90%;" />
                    </div>
					
                    <div class="form-line">
                   	  <label class="st-label">原厂参考零件号</label>
                      <input type="text" name="old_PNO" value="{$old_PNO}" style=" width:90%;" />
                    </div>
                  		
                    <div class="form-line">
                      <label class="st-label">品牌</label>
                      <select name="brand_id" class="js_brand">
                        <option value="0">全部品牌</option>
						{$brand_list = get_list('brand')}
                        {volist name="brand_list" id="vo"}
                        <option value="{$vo.id}">{$vo.title}</option>
                        {/volist}                   
                      </select>
                    </div>
                  		
                    <div class="form-line js_typeBox" style="display:none;">
                   	  <label class="st-label">机型</label>
                      <select name="type_id" class="js_type">
						
                      </select>
                    </div>
                    <div class="form-line">
                      <label class="st-label">类别</label>
                      <select name="category_id">
                        <option value="0">全部类别</option>
                        {$category_list = get_list('category')}
                        {volist name="category_list" id="vo"}
                        <option value="{$vo.id}">{$vo.title}</option>
                        {/volist}
                      </select>
                    </div>
                    
                    <div class="form-line">
                    <input type="submit" name="button" id="button" value="&nbsp;搜索&nbsp;" class="submit-button" />
                    <input type="reset" name="button" id="button2" value="&nbsp;清空&nbsp;" class="reset-button" />
                    </div>

                  </form>
                  
                </div>
      </div>
            
<script>
$(function(){
  //选择品牌
  $(".js_brand").change(function(){
      var Id = $(this).val();
    var url = "{:U('Search/get_option')}";
    $.post(url , { brand_id:Id } , function(data){
		if(data.status == 'ok'){
			$(".js_typeBox").show();
            $(".js_type").html(data.info);
        }else{
			$(".js_typeBox").hide();
        }
        
    }, 'json');
  });
})
</script>            
{include file="public/footer"/}