{include file="header" /}
<div class="am-g">
    <div class="am-u-md-3">
        <div class="container">
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree" style="height: auto; border: hidden;overflow: auto;" ></ul>
            </div>
        </div>
    </div>

    <div class="am-u-md-6 am-u-md-pull-3">
        <div class="container" id="edit_page">
            <div class="am-g">
                <div class="am-u-md-12">
                    <hr>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- content end -->
</div>
{include file="footer" /}