<!DOCTYPE html>
<HTML>
<HEAD>
<TITLE> TestCase Index</TITLE>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- Include font-awesome here, CDN is ok, or locally installed by bower to your project -->

<link rel="stylesheet" href="ZTREEBASE/css/demo.css" type="text/css">
<link rel="stylesheet" href="ZTREEBASE/css/awesomeStyle/awesome.css" type="text/css">
<script type="text/javascript" src="ASSETS/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="ZTREEBASE/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="ZTREEBASE/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="ZTREEBASE/js/jquery.ztree.exedit.js"></script>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="ASSETS/i/favicon.png">
<link rel="stylesheet" href="ASSETS/css/amazeui.min.css"/>
<link rel="stylesheet" href="ASSETS/css/admin.css">
</HEAD>
<BODY>
<div class="am-modal am-modal-confirm" tabindex="edit_add_class" id="edit_add_class">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">Class Add/Edit</div>
        <div class="am-modal-bd">
            Input Classfication Name
            <input type="text" class="am-modal-prompt-input" style="width:80%;border:1px solid #9C9898;">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm style="width: 50%;border:1px solid #9C9898;">OK</span>
            <span class="am-modal-btn" data-am-modal-cancel style="width: 50%;border:1px solid #9C9898;">Cancel</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="del_class" id="del_class">
    <div class="am-modal-dialog">

        <div class="am-modal-bd">
            是否删除该分类及子Case
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm style="width: 50%;border:1px solid #9C9898;">OK</span>
            <span class="am-modal-btn" data-am-modal-cancel style="width: 50%;border:1px solid #9C9898;">Cancel</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="del_class" id="del_modal">
    <div class="am-modal-dialog">

        <div class="am-modal-bd">
            是否删除该Case
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm style="width: 50%;border:1px solid #9C9898;">OK</span>
            <span class="am-modal-btn" data-am-modal-cancel style="width: 50%;border:1px solid #9C9898;">Cancel</span>
        </div>
    </div>
</div>


<div id="rMenu">
    <ul>
        <li id="m_add" onclick="add_class();">Add subfolder</li>
        <li id="m_del" onclick="del_class();">Delete folder</li>
        <li id="m_check" onclick="edit_class();">Edit folder</li>
        <li id="m_unCheck" onclick="add_case();">Add Case</li>
    </ul>
</div>

<script src="ASSETS/js/amazeui.min.js"></script>

</BODY>
</HTML>