<SCRIPT type="text/javascript">
	//<!--
	var setting = {
		view: {
			addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom,
			selectedMulti: false
		},
		edit: {
			enable: true,
			editNameSelectAll: true,
			showRemoveBtn: showRemoveBtn,
			showRenameBtn: showRenameBtn
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			beforeDrag: beforeDrag,
			beforeEditName: beforeEditName,
			beforeRemove: beforeRemove,
			beforeRename: beforeRename,
			onRemove: onRemove,
			onRename: onRename
		}
	};
	var filelist={$data};
	var zNodes =[
		{ id: 1, pId: 0, name: "p1", open: true },
		{ id: 11, pId: 1, name: "s1", open: true },
		{ id: 12, pId: 1, name: "s2", open: true },
		{ id: 13, pId: 1, name: "s3", open: true },
		{ id: 2, pId: 0, name: "p2", open: true },
		{ id: 21, pId: 2, name: "s1", open: true },
		{ id: 22, pId: 2, name: "s2", open: true },
		{ id: 23, pId: 2, name: "s3", open: true },
		{ id: 24, pId: 2, name: "s4", open: true },
		{ id: 25, pId: 2, name: "s5", open: true },
		{ id: 3, pId: 0, name: "p3", open: true },
		{ id: 31, pId: 3, name: "s1", open: true },
	];
	$.each(filelist,function(key,item){
		var UId=key.replace(/[^0-9]/ig,"");
		var count=1;
		$.each(item,function(zkey,zitem){
			var temp={id:UId*1000+count,pId:UId,name:zitem,open:true};
			count++;
			zNodes.push(temp);
		});
	});
	var log, className = "dark";
	function beforeDrag(treeId, treeNodes) {
		return false;
	}

	//编辑功能
	function beforeEditName(treeId, treeNode) {
		className = (className === "dark" ? "":"dark");
		showLog("[ "+getTime()+" beforeEditName ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		zTree.selectNode(treeNode);
		if(treeNode.id>100){
			var CaseName=treeNode.name;
			alert(CaseName);
			/*var add1=$("#datalist:first").clone();
			 var btn=$(".control-group:last").clone();
			 $("#addform").empty();
			 $.post("{:U('admin/Read/edit')}",{CaseName:CaseName},function(casedata){
			 $.each(casedata,function(key,item){
			 var add=add1.clone();
			 $("label",add).html(key);
			 $("input",add).attr({name:key,value:item});
			 add.show();
			 $("#addform").append(add);//.control-group
			 });
			 btn.show();
			 $("#addform").append(btn);
			 });*/
		}
	}
	function beforeRemove(treeId, treeNode) {
		className = (className === "dark" ? "":"dark");
		showLog("[ "+getTime()+" beforeRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		zTree.selectNode(treeNode);

		$.post("{:U('admin/testcase/del')}",{CaseName:treeNode.name},function(datac){
			//windows.location="{:U('admin/testcase/del')}";
			var a=eval("("+datac+")");
			alert("返回值为："+a);//result===false?"无返回值":"返回值为："+result.length
		},"json");
		//return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
	}
	function onRemove(e, treeId, treeNode) {
		showLog("[ "+getTime()+" onRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
	}
	function beforeRename(treeId, treeNode, newName, isCancel) {

		className = (className === "dark" ? "":"dark");
		showLog((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" beforeRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
		if (newName.length == 0) {
			alert("节点名称不能为空.");
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			setTimeout(function(){zTree.editName(treeNode)}, 10);
			return false;
		}
		return true;
	}
	function onRename(e, treeId, treeNode, isCancel) {
		//$(".list").append(treeNode.tId+"<li>函数onRename   可以添加li标签</li>");
		showLog((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" onRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
	}
	function showRemoveBtn(treeId, treeNode) {
		return !treeNode.isFirstNode;
	}
	function showRenameBtn(treeId, treeNode) {
		return !treeNode.isLastNode;
	}
	function showLog(str) {
		if (!log) log = $("#log");
		log.append("<li class='"+className+"'>"+str+"</li>");
		if(log.children("li").length > 8) {
			log.get(0).removeChild(log.children("li")[0]);
		}
	}
	function getTime() {
		var now= new Date(),
				h=now.getHours(),
				m=now.getMinutes(),
				s=now.getSeconds(),
				ms=now.getMilliseconds();
		return (h+":"+m+":"+s+ " " +ms);
	}

	var newCount = 1;
	function addHoverDom(treeId, treeNode) {
		var sObj = $("#" + treeNode.tId + "_span");
		if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
		var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
				+ "' title='add node' onfocus='this.blur();'></span>";
		sObj.after(addStr);
		var btn = $("#addBtn_"+treeNode.tId);
		if (btn) btn.bind("click", function(){
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
			return false;
		});
	};
	function removeHoverDom(treeId, treeNode) {
		$("#addBtn_"+treeNode.tId).unbind().remove();
	};
	function selectAll() {
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		zTree.setting.edit.editNameSelectAll =  $("#selectAll").attr("checked");
	}

	$(document).ready(function(){
		$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		$("#selectAll").bind("click", selectAll);
		$("tr:first,.control-group:last").hide();
	});

	//表单验证，提交成功返回

	//-->
</SCRIPT>