<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin table Examples</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="ASSETS/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="ASSETS/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="ASSETS/css/amazeui.min.css"/>
    <link rel="stylesheet" href="ASSETS/css/admin.css">
</head>
<body>

<div class="am-cf admin-main am-padding-top-0">


    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <!--<th class="table-check"><input type="checkbox" /></th><th class="table-title">id</th>--><th class="table-title">username</th><th class="table-title">email</th><th class="table-type">所属权限组</th><th class="table-author am-hide-sm-only">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name="data" item="v"}
                            <tr>
                                <!--<td><input type="checkbox" /></td>
                                <td>{$v[id]}</td>-->
                                <td>{$v[username]}</td>
                                <td>{$v[email]}</td>
                                <td>{$v[title]}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 添加</button>
                                            <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy" username="{$v[username]}" onclick="edit_user(this)"></span> 修改</button>

                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- content end -->
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="hahah" >
    <div class="am-modal-dialog">
        <div class="am-modal-hd">Edit User Info</div>
        <div class="am-modal-bd">
            <label >haha</label>
            username:<input type="text" class="am-modal-prompt-input" value={$v['username']}>
            <!--<div class="am-form-group ">
                <label >Select Group</label>
                <table >
                    {volist name="group_info" id="vsub" key="k" }
                    {if condition="$k%4==1"}<tr>{/if}
                    <td align="left"><input type="checkbox" value={$vsub['id']}>{$vsub[title]}</td>
                    {if condition="$k%4==4"}</tr>{/if}
                    {/volist}
                </table>
            </div>-->
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm >提交</span>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="ASSETS/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="ASSETS/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="ASSETS/js/amazeui.min.js"></script>
<script src="ASSETS/js/app.js"></script>
<script>
    function edit_user(obj) {
        // var ruleId=$(obj).attr('ruleId');
        var username="#"+$(obj).attr('username');
        $("#hahah").modal({
            relatedTarget: this,
            onConfirm: function(e) {
                alert('aha')
            },
            onCancel: function(e) {
                e.close();
            }
        });
    }
</script>
</body>
</html>


