<style>
        .am-modal-bd{
            width:100%;
            margin:0 auto;
            float:left;
          
        }
        .am-modal-bd label{
            width:80px;
            display:inline-block;
            text-align:right;
        }
        .am-modal-bd input{
            width:60%;
        }
        .search{
            width:200px;
            height:37px;
            display:inline;
            border:1px solid #9C9898;
            margin-left:-5px;
        }
		.line a:hover{
			text-decoration:underline;
		}
</style>
{include file="header" /}
<div class="admin-content">
    <div class="am-cf am-padding am-padding-bottom-0" id="content-body">
        <div class="am-g">
            <div class="am-fl am-cf" id="html_title"><strong class="am-text-primary am-text-lg">Task Management</strong> </div><br/>
        </div><br/><br/>
            <div class='am-g am-cf'>
                <div class="am-form-group-inline" style="display:inline;">
                   <select data-am-selected="{btnWidth: '7%',btnStyle: 'secondary',searchBox: 1}"  class="am-u-md-3" placeholder="FPGA">
                        <option value=""></option>
                        {foreach name="run_list" item="vc" key="k"}
                        <option value={$k}>{$vc}</option>
                        {/foreach}
                    </select>
                    <input type="text" style="width:200px;height:37px;display:inline;border:1px solid #9C9898;margin-left:-5px;">&nbsp;&nbsp;
                    <button type='button' class='am-btn am-btn-default am-btn-xs am-text-secondary am-text-primary'> <span class='am-icon-search'></span> Search</button>
                </div>            
                <div class="am-form-group-inline am-cf am-fr" style="width:400px;display:inline;">
                    Test Run:
                    <select data-am-selected="{btnWidth: '50%', btnStyle: 'secondary',searchBox: 1}"  class="am-u-md-3" placeholder="Please select..."  onchange="project_check(this)" id="search_pid">
                        <option value=""></option>
                        {foreach name="run_list" item="vc" key="k"}
                        <option value={$k}>{$vc}</option>
                        {/foreach}
                    </select>
                    &nbsp;&nbsp;
                    <button type='button' class='am-btn am-btn-default am-btn-xs am-text-secondary am-text-danger'  onclick='add()'> <span class='am-icon-pencil-square-o'></span> new Task</button>
                </div>
            </div>
        </div><br/>
    <div class="am-g">
        <div class="container" id="edit_page">
                <div class="am-g">
                    <div class="am-u-md-12">
                        <table class="am-table am-table-striped am-table-hover table-main line">
                            <thead>
                            <tr>
                                <th class="table-title"><a href="javascript:reorder('name');">name</a></th>
                                <th class="table-title"><a href="javascript:reorder('pid');">Project</a></th>
                                <th class="table-title"><a href="javascript:reorder('pid');">Driver</a></th>
                                <th class="table-title"><a href="javascript:reorder('suit');">Suite</a></th>
                                <th class="table-title"><a href="javascript:reorder('board');">Board <div class="am-text-primary"></div></a></th>
                                <th class="table-title"><a href="javascript:reorder('owner');">owner</a></th>
                                <th class="table-title"><a href="javascript:reorder('start_time desc');">Start Date</a></th>
                                <th class="table-title"><a href="javascript:reorder('end_time desc');">End Date</a></th>
                                <th class="table-title"><a href="javascript:reorder('end_time desc');">Progress</a></th>
                                <th class="table-author am-hide-sm-only">Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name="list" item="v"}
                            <tr>
                                <td><a href="javascript:toTaskCase('{$v[id]}','{$v[pid]}');" class="line">{$v[name]}</a></td>
                                <td>{$v[project_name]}</td>
                                <td>{$v[driver]}</td>
                                <td>{$v[suit]}</td>
                                <td>{$v[board_name]}</td>
                                <td>{$v[owner]}</td>
                                <td>{$v[start_time]}</td>
                                <td>{$v[end_time]}</td>
                                <td>{$v['progress']}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary" task_id={$v[id]} onclick="edit(this)"><span class="am-icon-pencil-square"></span> Edit</button>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" task_id={$v[id]} onclick="del(this)"><span class="am-icon-trash-o" ></span> Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <div class="am-modal am-modal-confirm" id={$v[id]} style="top:-20%;">
                                <div class="am-modal-dialog">
                                    <div class="am-modal-hd">Edit Task</div>
                                    <div class="am-modal-bd">
                                      <label>Name:</label>
                                      <input type="text" class="am-modal-prompt-input" id="edit_name" style="display:inline;border:1px solid #9C9898;"><br/><br/>
                                      <label>Driver:</label>
                                      <input type="text" class="am-modal-prompt-input" id="edit_driver" style="display:inline;border:1px solid #9C9898;"><br/><br/>
                                      <label>Type:</label> 
                                      <div class="am-form-group-inline" style="display:inline;margin-left:2px;">
                                            <select data-am-selected="{btnWidth: '59.9%', btnStyle: 'secondary'}" placeholder="Please select..." ov_id={$v[id]} onchange="edit_type(this)" id="edit_type" style="border:1px solid #9C9898;">
                                                <option value="CModel">CModel</option>
                                                <option value="Chip">Chip</option>
                                                <option value="FPGA">FPGA</option>
                                            </select>
                                      </div><br/><br/>
                                      <label>Test Run:</label> 
                                      <div class="am-form-group-inline" style="display:inline;margin-left:2px;">
                                            <select data-am-selected="{btnWidth: '59.9%', btnStyle: 'secondary'}" placeholder="Please select..." id="edit_pid" style="border:1px solid #9C9898;">
                                                <option value=""></option>
                                                {foreach name="run_list" item="vc" key="k"} 
                                                <option value={$k}>{$vc}</option>
                                                {/foreach}
                                            </select>
                                      </div><br/><br/>
                                      <label>Board:</label>
                                      <div class="am-form-group-inline" style="display:inline;margin-left:2px;" id="Chip_selected">
                                          <select data-am-selected="{btnWidth: '19%', btnStyle: 'secondary',searchBox: 1}"   class="am-fr" placeholder="Please select..." id="edit_platform">
                                            <option value=""></option>
                                            {foreach name="board_list" item="vc"}
                                            <option value={$vc['Name']}>{$vc[Name]}</option>
                                            {/foreach}
                                          </select>
                                          <select data-am-selected="{btnWidth: '19%', btnStyle: 'secondary'}"  onchange="edit_os(this)" ov_id={$v[id]} class="am-fr" placeholder="Please select OS..." id="edit_os">
                                            <option value=""></option>
                                            {foreach name="os_list" item="vc"}
                                            {if condition="$vc==$v[OS]"}
                                            <option value={$vc} selected>{$vc}</option>
                                            {else/}
                                            <option value={$vc}>{$vc}</option>
                                            {/if}
                                            {/foreach}
                                        </select>
                                        <select data-am-selected="{btnWidth: '20%', btnStyle: 'secondary'}"    class="am-fr" placeholder="Please select OS..." id="edit_version">
                                          <option value=""></option>
                                        </select>
                                        <br/><br/>
                                      </div>
                                      <div class="am-form-group-inline" style="display:none;margin-left:2px;" id="CModel_selected">
                                        <select data-am-selected="{btnWidth: '29.5%', btnStyle: 'secondary',searchBox: 1}"   class="am-fr" placeholder="Please select..." id="edit_platform2">
                                            <option value=""></option>
                                            {foreach name="board_list" item="vc"}
                                            {if condition="$vc[Type]==CModel"}
                                            <option value={$vc['Name']}>{$vc[Name]}</option>
                                            {/if}
                                            {/foreach}
                                        </select>
                                        <select data-am-selected="{btnWidth: '29.5%', btnStyle: 'secondary'}"    class="am-fr" placeholder="Please select OS..." id="edit_version2">
                                          <option value=""></option>
                                          {foreach name="scm" item="vscm"}
                                          <option value={$vscm}>{$vscm}</option>
                                          {/foreach}
                                        </select>
                                        <br/><br/>
                                        </div>
                                        <label>Owner:</label>
                                        <div class="am-form-group-inline" style="display:inline;margin-left:2px;">
                                            <select data-am-selected="{btnWidth: '59.9%', btnStyle: 'secondary'}" class="am-fr" placeholder="Please select..." id="edit_owner">
                                                <option value=""></option>
                                                {foreach name="user_list" item="vc" key="k"}
                                                <option value="{$vc[username]}">{$vc[username]}</option>
                                                {/foreach}
                                            </select>
                                        </div><br/><br/>
                                        <label>start_time:</label>
                                        <input type="text" class="am-modal-prompt-input" data-am-datepicker id="edit_start_time" style="display:inline;border:1px solid #9C9898;"><br/><br/>
                                        <label>end_time:</label>
                                        <input type="text" class="am-modal-prompt-input" data-am-datepicker id="edit_end_time" style="display:inline;border:1px solid #9C9898;">
                                    </div>

                                    <div class="am-modal-footer">
                                        <span class="am-modal-btn" data-am-modal-confirm style="width: 50%;border:1px solid #cccccc;">OK</span>
                                        <span class="am-modal-btn" data-am-modal-cancel style="width: 50%;border:1px solid #cccccc;"">Cancel</span>
                                    </div>
                                </div>
                            </div>
                            <?php $tmp_list=json_encode($v);?>
                            <script language="JavaScript">
                                var tmp={$tmp_list};
                                $.each(tmp,function (k,v) {
                                    $("#"+tmp.id+" #edit_"+k).val(v);
                                });
                            </script>
                            {/foreach}
                            </tbody>
                        </table>
                        {$page}
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- content end -->
{foreach name="data" item="v"}
<div class="am-modal am-modal-confirm" id="add_task_modal" style="top:-20%;" tabindex="{$v[id]}">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">New Task</div>
        <div class="am-modal-bd">
         <label>Name:</label>
          <input type="text" class="am-modal-prompt-input" id="add_name" style="display:inline;border:1px solid #9C9898;"><br/><br/>
          <label>Driver:</label>
          <input type="text" class="am-modal-prompt-input" id="add_driver" style="display:inline;border:1px solid #9C9898;"><br/><br/>
          <label>Type:</label>
          <div class="am-form-group-inline" style="display:inline;margin-left:2px;">
              <select data-am-selected="{btnWidth: '59.9%', btnStyle: 'secondary'}" placeholder="Please select..." onchange="add_type(this)" id="add_type" style="border:1px solid #9C9898;">
                  <option value="CModel">CModel</option>
                  <option value="Chip">Chip</option>
                  <option value="FPGA">FPGA</option>
              </select>
          </div><br/><br/>
          <label>Test Run:</label> 
          <div class="am-form-group-inline" style="display:inline;margin-left:2px;">
             <select data-am-selected="{btnWidth: '59.9%', btnStyle: 'secondary'}" placeholder="Please select..." id="add_pid" style="border:1px solid #9C9898;">
                <option value=""></option>
                {foreach name="run_list" item="vc" key="k"}
                <option value={$k}>{$vc}</option>
                {/foreach}
             </select>
          </div><br/><br/>
          <label>Board:</label>
          <div class="am-form-group-inline" id="Chip_selected_add" style="display:inline;">
              <select data-am-selected="{btnWidth: '18%', btnStyle: 'secondary',searchBox: 1}" placeholder="Please select..." id="add_platform">
                <option value=""></option>
                {foreach name="board_list" item="vc"}
                <option value={$vc['Name']}>{$vc[Name]}</option>
                {else if condition="$vc[Type]==CModel"}
                {/foreach}
             </select>
             <select data-am-selected="{btnWidth: '20%', btnStyle: 'secondary'}"  onchange="add_os(this)" ov_id={$v[id]} placeholder="Please select OS..." id="add_os">
                  <option value=""></option>
                  {foreach name="os_list" item="vc"}
                  {if condition="$vc==$v[OS]"}
                  <option value={$vc} selected>{$vc}</option>
                  {else/}
                  <option value={$vc}>{$vc}</option>
                  {/if}
                  {/foreach}
            </select>
            <select data-am-selected="{btnWidth: '20%', btnStyle: 'secondary'}" placeholder="Please select OS..." id="add_version">
                  <option value=""></option>
            </select>
            <br/><br/>
            </div>
             <div class="am-form-group-inline" style="display:none;margin-left:2px;" id="CModel_selected_add">
             <select data-am-selected="{btnWidth: '29.5%', btnStyle: 'secondary',searchBox: 1}"   class="am-fr" placeholder="Please select..." id="add_platform2">
               <option value=""></option>
               {foreach name="board_list" item="vc"}
                 {if condition="$vc[Type]==CModel"}
               <option value={$vc['Name']}>{$vc[Name]}</option>
                 {/if}
                 {/foreach}
             </select>
          <select data-am-selected="{btnWidth: '30%', btnStyle: 'secondary'}"    class="am-fr" placeholder="Please select OS..." id="add_version2">
            <option value=""></option>
            {foreach name="scm" item="vscm"}
            <option value={$vscm}>{$vscm}</option>
            {/foreach}
            </select>
            <br/><br/> 
            </div> 
            <label>Suite:</label> 
            <div class="am-form-group-inline" style="display:inline;margin-left:2px;">
            <select data-am-selected="{btnWidth: '59.9%', btnStyle: 'secondary'}" placeholder="Please select..." id="add_suit" style="border:1px solid #9C9898;">
                <option value=""></option>
                {foreach name="suit_list" item="vc"}
                <option value="{$vc}">{$vc}</option>
                {/foreach}
            </select>
            </div><br/><br/>   
            <label>Owner:</label>
            <div class="am-form-group-inline" style="display:inline;margin-left:2px;">
                <select data-am-selected="{btnWidth: '59.9%', btnStyle: 'secondary'}" class="am-fr" placeholder="Please select..." id="add_user">
                    <option value=""></option>
                    {foreach name="user_list" item="vc" key="k"}
                    <option value="{$vc[username]}">{$vc[username]}</option>
                    {/foreach}
                </select>
            </div><br/><br/>
            <label>start_time:</label>
            <input type="text" class="am-modal-prompt-input" data-am-datepicker id="add_start" style="display:inline;border:1px solid #9C9898;"><br/><br/>
            <label>end_time:</label>
            <input type="text" class="am-modal-prompt-input" data-am-datepicker id="add_end" style="display:inline;border:1px solid #9C9898;">
            </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm style="width: 50%;border:1px solid #9C9898;">OK</span>
            <span class="am-modal-btn" data-am-modal-cancel style="width: 50%;border:1px solid #9C9898;">Cancel</span>
        </div>
    </div>
</div>
{/foreach}
<script>
  $(document).ready(function(){
    var type=$("#edit_type").val();
        var type2=$("#add_type").val();
        if(type=="CModel"){
          $('#Chip_selected').css("display","none");
          $('#CModel_selected').css("display","inline");
        }else if(type!="CModel"){
          $('#Chip_selected').css("display","inline");
          $('#CModel_selected').css("display","none");
        }
        if(type=="CModel"){
          $('#Chip_selected_add').css("display","none");
          $('#CModel_selected_add').css("display","inline");
        }else if(type!="CModel"){
          $('#Chip_selected_add').css("display","inline");
          $('#CModel_selected_add').css("display","none");
        }
  });
    $(document).ready(function () {
        $("#search_pid").val("{$run_info['id']}");
    });
    function del(obj) {
        var id=$(obj).attr('task_id');
        if(confirm('Do you want delete this Task?')){
            $.post("{:U('Admin/Task/del')}",{id:id},function (data) {
                window.location.reload();
            });
        }
    }
    function edit(obj) {
        var id=$(obj).attr('task_id');
        $("#"+id).modal({
            relatedTarget:this,
            onConfirm:function(e){
              board_val=$("#"+id+" #edit_platform").val()?$("#"+id+" #edit_platform").val():$("#"+id+" #edit_platform2").val();
              version_val=$("#"+id+" #edit_version").val()?$("#"+id+" #edit_version").val():$("#"+id+" #edit_version2").val();
                var arr={id:id,name:e.data['0'],driver:e.data['1'],start_time:e.data['2'],end_time:e.data['3'],board:board_val,Type:$("#"+id+" #edit_type").val(),owner:$("#"+id+" #edit_owner").val(),pid:$("#"+id+" #edit_pid").val(),OS:$('#edit_os').val(),Version:version_val};
                $.post("{:U('Admin/Task/add')}",arr,function (data) {
                    window.location.reload();
                });
            },
            onCancel:function (e) {
                e.close()
            }
        });
    }
    function add() {
        var start_time="{$run_info[start_time]}";
        var end_time="{$run_info[end_time]}";
        $("#add_name").val("");
        $("#add_platform").val("");
        $("#add_user").val("");
        $("#add_suit").val('');
        $("#add_pid").val("");
        $("#add_type").val("");
        $("#add_os").val("");
        $("#add_version").val("");   
        $("#add_driver").val("");   
        $("#add_start").attr({value:start_time});
        $("#add_end").attr({value:end_time});
        $("#add_task_modal").modal({
            relatedTarget:this,
            onConfirm:function(e){
                var pid=$("#add_pid").val();
                board_val=$("#add_platform").val()?$("#add_platform").val():$("#add_platform2").val();
                version_val=$("#add_version").val()?$("#add_version").val():$("#add_version2").val();
                if(pid!=null&&pid!=""&&pid!=0){
                    var arr={name:e.data['0'],driver:e.data['1'],start_time:e.data['2'],end_time:e.data['3'],board:board_val,owner:$('#add_user').val(),Type:$('#add_type').val(),suit:$('#add_suit').val(),pid:$("#add_pid").val(),OS:$('#add_os').val(),Version:version_val};
                    $.post("{:U('Admin/Task/add')}",arr,function (data) {
                        location.href=("{:U('Admin/Task/case_index',array('tid'=>ttid))}").replace('ttid',data);
                    });
                }else{
                    alert('Please choose the Test Run');
                }

            },
            onCancel:function (e) {
                e.close()
            }
        });
    }
    function project_check(obj) {
        var id=$(obj).val();
        /*$.post("{:U('Admin/Task/Index')}",{ajax:true,pid:id},function (data) {
            $("#edit_page").empty().html(data);
        });*/
        location.href=("{:U('Admin/Task/Index',array('pid'=>ppid))}").replace('ppid',id);
    }
    function search() {
        $.post("{:U('Admin/Task/Index')}",{ajax:true,pid:$("#search_pid").val(),name:$("#search_name").val()},function (data) {
            $("#edit_page").empty().html(data);
        });
    }
    function toTaskCase(tid,pid) {
        var str=("{:U('Admin/Task/case_index',array('pid'=>ppid,'tid'=>ttid))}").replace('ppid',pid).replace('ttid',tid);
        location.href=str;
    }
    function reorder(name) {
        location.href=("{:U(Admin/Task/Index,array('pid'=>ppid,'sort'=>sort_rule))}").replace('ppid',$("#search_pid").val()).replace('sort_rule',name);
    }
    function edit_os(obj) {
      var id=$(obj).attr('ov_id');
        var os=$(obj).val();
        $.post("{:U('Admin/Task/index')}",{'OS':os,'seconglist':true},function (data) {
            $('#'+id+' #edit_version').empty();
            $('#'+id+' #edit_version').append("<option value=''></option>");
            $.each(data,function (k,v) {
                $('#'+id+' #edit_version').append("<option value="+v.Version+">"+v.Version+"</option>");
            });
        });
    }
    function add_os(obj) {
        var os=$(obj).val();
        $.post("{:U('Admin/Task/index')}",{'OS':os,'seconglist':true},function (data) {
            $("#add_version").empty();
            $("#add_version").append("<option value=''></option>");
            $.each(data,function (k,v) {
                $("#add_version").append("<option value="+v.Version+">"+v.Version+"</option>");
            });
        });
    }
    function edit_type(obj) {
        var type=$(obj).val();
        var id=$(obj).attr('ov_id');
        if(type=="CModel"){
          $('#'+id+' #Chip_selected').css("display","none");
          $('#'+id+' #CModel_selected').css("display","inline");
        }else if(type!="CModel"){
          $('#'+id+' #Chip_selected').css("display","inline");
          $('#'+id+' #CModel_selected').css("display","none");
        }
    }
    function add_type(obj) {
        var type=$(obj).val();
        if(type=="CModel"){
          $('#Chip_selected_add').css("display","none");
          $('#CModel_selected_add').css("display","inline");
        }else if(type!="CModel"){
          $('#Chip_selected_add').css("display","inline");
          $('#CModel_selected_add').css("display","none");
        }
    }

</script>
{include file="footer" /}